
.HeaderButton__button--style {
    background-color: white;
    color: rgb(92 163 99);
    font-weight: bold;
    border-radius: 15px;
    border:1px solid rgb(92 163 99);
    box-shadow: 1px 3px 6px rgb(176, 218, 181);
}
.HeaderButton__button--style:active {
    transform: translateY(4px);
    box-shadow: 1px 1px 6px rgb(176, 218, 181);
}