@import url("../../App.css");

.eventPage--container {
    width: 90%;
    margin: 0 auto;
    
}

.eventPage__main--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: 
    "code"
    "events"
    "create";
}

.code {
    grid-area: code;
}

.events {
    grid-area: events;
}

.create {
    grid-area: create;
}

@media only screen and (min-width: 600px) {
    .eventPage--container {
        max-width: 600px; 
        margin: 0 auto;
    }
    
    .eventPage__main--container {
        gap: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "events code"
        ". create";
    }
}