@import url("../../App.css");

.eventPage--container {
    max-width: 350px;
    min-width: 300px;
    margin: 0 auto;
    
}

.eventPage__main--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas: 
    "code"
    "events"
    "create"
    "video";
}

.code {
    grid-area: code;
}

.events {
    grid-area: events;
}

.create {
    grid-area: create;
}

.greenColor {
    color: var(--Primary-Dark-green);
}

.video {
    grid-area: video;
    background-color: white;
}

.bottomcontent__instructions--style {
    text-align: center;
    margin-top: 0;
}

.bottomcontent__title--style {
    color: var(--Primary-Dark-green);
    text-align: center;
    margin-bottom: 0;
}

.bottomcontent__createEvent--style {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .eventPage--container {
        max-width: 600px; 
        margin: 0 auto;
    }
    
    .eventPage__main--container {
        gap: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));;
        grid-template-rows: .5fr .5fr .5fr;
        grid-template-areas: 
        "events code"
        ". create"
        ". video";
    }
}