@import url("../../App.css");

.createPage--container {
    max-width: 300px;
    min-width: 300px;
    margin: 0 auto;
}

.createPage__titleArea--container {
    display: flex;
    justify-content: space-between;
    color: var(--Primary-Dark-green);
}

.createPage__pageTitle--style {
    margin-top: 0;
}

.createPage__pageDate--style {
    font-weight: bold;
}

.createPage__pageDate--style, .createPage__pageTitle--style {
    font-size: large;
}

.createPage__main--container {
    display: flex;
    flex-direction: column;
}

.createPage__code--style {
    color: var(--Neutral-red);
    font-size: large;
    margin: 10px 0;
}

.underConstruction {
    color: var(--Neutral-red);
}

.hidePage {
    display: none;
}

@media only screen and (min-width: 600px) {
    .createPage--container {
        max-width: 600px; 
        margin: 0 auto;
    }
    
    .createPage__main--container {
        flex-direction: row;
        gap: 20px;
    }

    .createPage__pageTitle--style {
        margin-top: initial;
    }

    .createPage__pageDate--style {
        font-size: xx-large;
    }
}