@import url("../../App.css");

.planningPage--container {
    max-width: 350px;
    min-width: 300px;
    margin: 0 auto;
}

.planningPage__main--container {
    display: flex;
    flex-direction: column;
}

.planningPage__menu--container {
    flex:1.1;
}

.planningPage__popularItems--container{
    flex: 1;
}

.planning__pageTitle--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.planning__pageTitle--style {
    text-align: center;
    margin: 0;
    color: var(--Primary-Dark-green)
}

.planning__pageCode--style {
    font-size: large;
    font-weight: bold;
    color: var(--Primary-Dark-green);
    margin-top: 5px;
    margin-bottom: 10px;
}

.underConstruction {
    color: var(--Neutral-red);
}

@media only screen and (min-width: 600px) {
    .planningPage--container {
        max-width: 600px; 
        margin: 0 auto;
    }
    
    .planningPage__main--container {
        flex-direction: row;
        gap: 20px;
    }

    .planning__pageTitle--style {
        margin-top: initial;
        text-align: left;
    }

    .planning__pageTitle--container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .planning__pageCode--style {
        font-size: xx-large;
    }
}