.landingPage__main--container {
    max-width: 600px;
    margin: 0 auto;
}

.landingPage__topContent--container, .bottomContent__leftBox--container {
    display: flex;
    margin: 5px 5px 20px 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
}

.topContent__content--container, .bottomContent__leftContent--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topContent__content--style, .bottomContent__leftContent--container {
    margin: 10px;
    color: black;
    font-weight: 600;
}

.image__food--style {
    height: 100%;
    width: 300px;
    margin: 5px;
}

.landingPage__bottomContent--container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.bottomContent__leftBox--container, .bottomContent__rightBox--container {
    flex: 1;
}

.image__calendar--style {
    height: 150px;
    width: 110px;
    margin: 10px;
}
.bottomContent__leftContent--container span {
    text-decoration: underline;
    font-weight: bold;
}

.bottomContent__rightBox--container {
    margin: 5px 5px 20px 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
}

.bottomcontent__rightContent--container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(92 163 99);
    color: white;
}

.bottomcontent__rightContent--container h3 {
    margin-bottom: 0;
    text-decoration: underline;
}

.wrapText {
    white-space: nowrap;
}

.rightContent__innnerDiv--container {
    display: flex;
    font-size: small;
    gap: 20px;
}

@media only screen and (max-width: 600px) {
    .landingPage__main--container {
        max-width: 350px;
        min-width: 300px;
        margin: 0 auto;
    }

    .landingPage__topContent--container {
        flex-direction: column;
    }

    .image__food--style {
        width: 100%;
        margin: 0;
    }

    .landingPage__topContent--container, .bottomContent__leftBox--container {
        margin:0;
        margin-bottom: 20px;
        padding: 10px;
    }

    .landingPage__bottomContent--container {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}
