.header--container {
    width: 75vw;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.header__title--container {
    display: flex;
    align-items: center;
}

.header__image--style {
    height: 40px;
    width:  40px;
    margin-right: 10px;
}

.header__button--container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .header--container {
        width: 100%;
    }

    .header--container h1 {
        font-size: 1em;
        text-align: center;
    }

    .header__title--style {
        white-space: nowrap;
    }

    .header__button--container {
        flex:0;
    }
}